@model Plingy.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this student?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Name</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">Member since</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.JoinDate)
        </dd>
        <dt class = "col-sm-2">Active student</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveStudent)
        </dd>
        <dt class = "col-sm-2">Address</dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">Allergies</dt>
        <dd class = "col-sm-10">
            @foreach (var allergy in Model.StudentsAllergies) {
                @allergy.Allergy <br />
            }
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="StudentID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
