@model IEnumerable<Plingy.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Student list (Demo)</h1>

<p>
    <a asp-action="Create">Add new student</a>
</p>

<form asp-controller="Demo" asp-action="Index" method="get">
    <tr> 
        <td>
            Name: <input type="text" name="searchName">
        </td>
        <td>
            Address: <input type="text" name="searchAddress">
        </td>
        <td>
            Active student: <select id="activeOrNot" name="activeOrNot">
                <option value="active">Active only</option>
                <option value="inactive">Inactive only</option>
                <option value="" selected="selected">Show both</option>
            </select>
            <input type="submit" value="Filter" />
        </td>
    </tr>
</form>
<br/>
<table class="table">
    <thead>
        <tr>
            <th>Student name</th>
            <th>Active student</th>
            <th>Allergies</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) 
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveStudent)
                </td>
                <td>
                    @{
                        foreach (var allergy in item.StudentsAllergies)
                        {
                            @allergy.Allergy <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.StudentID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.StudentID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentID">Delete</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>
