@model Plingy.Models.StudentAllergiesViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Student list (Demo)</h1>

<p>
    <a asp-action="Create">Add new student</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Student name</th>
            <th>Active student</th>
            <th>Allergies</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students) 
        {
            <tr class="success">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ActiveStudent)
                </td>
                <td>
                    @{
                        foreach (var allergy in item.StudentsAllergies)
                        {
                            @allergy.Allergy <br />
                        }
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.StudentID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@item.StudentID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.StudentID">Delete</a>
                </td>
            </tr>
            
        }
    </tbody>
</table>
